body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(39, 39, 39);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: rgb(148, 118, 177);
}

.anime-card-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
  padding: 20px;
  margin: 50px;
}

.anime-card {
  display: flex;
  flex-direction: row;
}

.anime-title {
  color: rgb(87, 33, 138);
  font-size: 16px;
}

.anime-image {
  width: 145px;
  height: 260px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.anime-card:hover {
  transform: scale(1.06);
  transition: transform 0.3s ease-in-out;
}

.anime-card:hover .anime-title {
  color: rgb(140, 58, 218);
  transition: color 0.3s ease-in-out;
}

.anime-card:hover .anime-image {
  filter: brightness(65%);
  transition: filter 0.3s ease-in-out;
}

.search-bar {
  width: 200px;
  padding: 5px;
  border-radius: 2px;
  background-color: rgb(32, 32, 32);
  position: absolute;
  top: 30px;
  right: 5%;
  padding: 10px;
  color: blueviolet;
}

.search-results-container {
  width: 210px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 69px;
  right: 5%;
  border-radius: 4px;
  padding: 10px;
  z-index: 1;
  overflow-y: auto;
  max-height: 300px;
  overflow-x: hidden;
}

.search-results {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-decoration: none;
  text-align: center;
  text-overflow: clip;
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid rgb(19, 19, 19);
  background-color:rgb(27, 27, 27);
  width: 200px;
  margin-left: auto;
}

.search-results-container::-webkit-scrollbar {
  width: 10px;;
}

.search-results-container::-webkit-scrollbar-track {
  background-color: transparent; 
}

.search-results-container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.search-results:hover {
  background-color: rgb(32, 32, 32);
  transition: background-color 0.3s ease-in-out;
}



.search-bar:focus {
  outline: none;
  border: 1px solid blueviolet;
}

.search-bar::placeholder {
  color: blueviolet;
}

.search-image {
  display: grid;
  height: 80px;
  position: relative;
  top: 10px;
  right: 0;
}

