body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(39, 39, 39);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  color:rgb(140, 58, 218)
}

.anime-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  background-color: aqua;
  padding: 20px;
  margin: 50px;
}

.anime-card {
  display: flex;
  flex-direction:row
}

.anime-title {
  color: blueviolet;
  font-size: 16px; 
}

.anime-image {
  width: 165px;
  height: 290px;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover; 
}